@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
    text-align: center;
    font-family: sans-serif;
    outline-style: none;
}

canvas {
    background-color: black;
}

:focus {
    outline: none;
}